RewriteEngine on

RewriteRule .* index.php?php1chpu=$0 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f



<FilesMatch "\.(php)$">
    Deny from all
</FilesMatch>

<FilesMatch "index.(php)$">
   Allow from all
</FilesMatch>
